<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=127.0.0.1;Database=cmps1; User ID=zym;Password=0907ming;port=3306;CharSet=utf8;pooling=true;" />
  </connectionStrings>
</configuration>





